<div class="container">
  <h1 class="text-center">Clientes Ingresados</h1>
  <hr />
  <%= render 'search' %>
  <hr />
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th class="text-center">ID #</th>
        <th class="text-center">Nombre cliente</th>
        <th class="text-center">Teléfono principal</th>
        <th class="text-center">Email</th>
        <th class="text-center">Acciones</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= client.first_name.capitalize %> <%= client.second_name.capitalize %> <%= client.last_name.capitalize %> <%= client.second_last_name.capitalize %></td>
          <td><%= client.principal_phone %></td>
          <td><%= client.email %></td>
          <td class="text-center">
            <%= link_to client, :class => "btn btn-info btn-xs", title: 'Ver cliente' do %>
              <%= fa_icon "eye", :class => "btn-fa" %>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to new_client_package_path(client_id: client), :class => "btn btn-success btn-xs", title: 'Añadir un paquete' do %>
              <%= fa_icon "plus", :class => "btn-fa"  %>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to edit_client_path(client), :class => "btn btn-warning btn-xs", title: 'Editar cliente' do %>
              <%= fa_icon "edit", :class => "btn-fa" %>
            <% end %>
          </td>
          <td class="text-center">
            <%= link_to client, method: :delete, data: { confirm: '¿Estas seguro? esta acción no se puede deshacer!' }, :class => "btn btn-danger btn-xs", title: 'Eliminar cliente' do %>
              <%= fa_icon "trash", :class => "btn-fa" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= render 'paginate' %>

  <%= link_to 'Ingresar cliente', new_client_path, :class => "btn btn-success btn-lg btn-block" %>
</div>
